<select (change)="onChange($event.target.value)">
  <option value="allRanks" selected="selected">All Members</option>
  <option value="highRank">High-Ranking Members</option>
  <option value="lowRank">Low-Ranking Members</option>
</select>

<div *ngFor="let member of members | async | ranking:filterByRank" class="row" style="cursor: pointer;">
  <div class="col-md-12 column">
    <div (click)="goToDetailsPage(member)">
      <h2>{{member.name}}</h2>
      <h3>Rank: {{member.rank}}</h3>
    </div>
    <div *ngIf="currentRoute==='/admin'">
      <h3>Bio: {{member.bio}}</h3>
      <h3>Age: {{member.age}}</h3>
      <edit-member [selectedMember]="member"></edit-member>
    </div>
  </div>
</div>
