<div class="row">
  <div class="col-md-3 column welcome-pic-column">

  </div>
  <div class="col-md-9 column">
      <h3>Welcome to illclub!</h3>
      <h4>View our members on the <a routerLink="members"></a></h4>
      <h4>Visit the <em><a routerLink="about">About</a></em> page to read about our organization!</h4>
  </div>
</div>

<div class="row">
  <div class="col-md-9 column">
      <h3>Celebrating Members</h3>
      <h4>We are excited to say we have reached an amazing number of members.</h4>
      <h4>Of course, we cannot disclose the exact number, but believe us, it's big.</h4>
  </div>
  <div class="col-md-3 column welcome-pic-column">

  </div>
</div>

<div class="row">
  <div class="col-md-3 column welcome-pic-column">

  </div>
  <div class="col-md-9 column">
      <h3>Welcome to illclub!</h3>
      <h4>View our members on the <a routerLink="members"></a></h4>
      <h4>Visit the <em><a routerLink="about">About</a></em> page to read about our organization!</h4>
  </div>
</div>
